.c-input {
  padding: 10px 0;

  &__content {
    position: relative;
  }

  &__label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    background-color: transparent;
    transition: all ease 0.2s;
    padding: 2px 5px;
    color: $secondary;
  }

  &__input {
    padding: 25px 20px 0;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid rgb(182, 182, 182);
    min-width: 200px;
    width: 100%;
    color: $secondary;
    background: transparent;

    &:focus,
    &:not(:placeholder-shown) {
      ~ .c-input__label {
        top: 0;
        transform: scale(0.75);
      }

      border-color: $secondary;
    }
  }
}
