.c-input {
  padding: 10px 0;

  &__content {
    position: relative;
  }

  &__label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    background-color: white;
    transition: all ease 0.2s;
    padding: 2px 5px;
    color: $primary;
  }

  &__input {
    padding: 15px 20px;
    font-size: 16px;
    border-radius: $border-radius;
    border: 1px solid rgb(182, 182, 182);
    min-width: 200px;
    width: 100%;

    &:focus,
    &:not(:placeholder-shown) {
      ~ .c-input__label {
        top: 0;
        transform: scale(0.75);
      }
    }
  }
}
