.c-table {
  width: 100%;
  font-size: 16px;

  @media (min-width: 692px) {
    font-size: 20px;
  }

  th {
    text-align: start;
  }

  &__tr {
    height: 2rem;
  }

  // TTT
  &__symbol {
    width: 20%;
  }

  &__name {
    width: 60%;
  }

  &__wins {
    width: 20%;
  }

  &--score {
    width: 100%;
    max-width: 600px;
  }
}
