$primary: #822659;
$primary-hover: #5d1f41;
$secondary: #12cad6;
$secondary-hover: #14a3ad;
$accentOne: #0fabbc;
$accentOne-hover: #168794;
$accentTwo: #e4f9ff;
$accentTwo-hover: #bccfd4;

$success: #219f94;
$warning: #ff7f3f;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1400px;

$border-radius: 10px;
$border-radius-sm: 5px;
