@import "settings/settings.vars";

.c-main {
  margin-top: 100px;
}

.c-app {
  overflow-x: hidden;

  &__container {
    position: relative;
    min-height: 100vh;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all ease-out 0.2s;

    &.u-menu-open {
      left: 100%;
      right: -100%;

      @media (min-width: $screen-xs) {
        left: 70%;
        right: -70%;
      }

      @media (min-width: $screen-sm) {
        left: 50%;
        right: -50%;
      }

      @media (min-width: $screen-lg) {
        left: 40%;
        right: -40%;
      }

      @media (min-width: $screen-xl) {
        left: 25%;
        right: -25%;
      }
    }
  }
}
