@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@200;400;600;800&family=Mochiy+Pop+P+One&family=Raleway:wght@100;300;400;600;900&display=swap");

@import "settings/settings.vars";
@import "settings/settings.utils";

// Components
@import "components/components.hamburger";
@import "components/components.navigation";

// App
@import "app";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Commissioner", sans-serif;
  font-family: "Mochiy Pop P One", sans-serif;
  font-family: "Raleway", sans-serif;
}
